.todo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border: 2px solid black;
    border-radius: 8px;
    min-width: 50%;
    max-width: 50%;
    width: 50%;
    background: linear-gradient(to right, #C92D58, #994091, #B03676, #C92D58);}

.containerStarDelete {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.todo img {
    max-width: 30px;
}

.circleCompleted {
    border-radius: 50%;
    width: 40px;
    height: 30px;
    display: flex;
    border: 1px solid black;
    float: left;
}

.circleNotCompleted {
    border-radius: 50%;
    width: 40px;
    height: 30px;
    display: flex;
    float: left;
}

.todo img:hover {
    cursor: pointer;
}

.isCompleted {
    color: green;
}

.todo p {
    margin: 0;
    font-size: 1.3rem;
}