@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


.god {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    top: 0;
    background: linear-gradient(90deg, rgba(128, 66, 147, 1) 45%, rgba(171, 52, 100, 1) 79%, rgba(217, 37, 51, 0.936186974789916) 97%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.title {
    padding: 0 !important;

}

.counter p {
    margin: 0 !important;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: monospace;
    color: #C92D58;
    text-shadow: 0.2rem 0.2rem 0.4rem #111;
}

.counter {
    margin-bottom: 1%;
}

.settingsUser {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.userName {
    color: #d691a5 !important;
    font-size: 1.7rem !important;
    text-shadow: 0.2rem 0.2rem 0.4rem #111;
}

.adbIcon {
    width: 100px;
    padding: 1rem;
    cursor: pointer;
}

.god h1 {
    font-size: 1.3rem;
    margin: 0;
    padding-right: 1rem;
    color: black;
}

.clock {
    padding: 0;
    color: #C92D58;
    border: 2px solid black;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.clock h1 {
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.4rem #111;
    color: #C92D58;
    padding-top: 5%;
}

.clock p {
    font-size: 1rem;
    text-align: center;
    text-shadow: 0.2rem 0.2rem 0.4rem #111;
}

@media only screen and (max-width: 600px) {
    .clock {
      width: 100px; 
      height: 50px; 
      border: none;
      padding: 0px;
    }

    .h1Hour {
      font-size: 0.8rem !important;
      padding: 0px !important;
      padding-top: 5%;
    }

    .clock p {
      font-size: 0.6rem;
      text-align: center;
    }

    .adbIcon {
        width: 40px;
        padding: 0;
        margin-left: 5px;
    }

    .counter p {
        font-size: 0.8rem;
        border: 0px;
    }

    .userName {
        font-size: 1.3rem !important;
        padding-right: 0.7rem !important;
    }

    .settingsUser {
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media only screen and (min-width: 600px) {
}
